.page {
  width: 100%;
  height: 100%;
  font-family: "oswaldregular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.page__body {
  margin: 0 auto;
}

.page-body__main-screen {
  position: relative;

  @media (min-width: @desktop-width) {
    &::before {
      content: "";
      position: absolute;
      width: 50%;
      min-height: 694px;
      top: 0;
      right: 0;
      background-image: url("../img/main-desktop-background.jpg");
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/main-desktop-background@2x.jpg");
      }
    }
  }
}
